.DS_Store
# i wasn't sure if Electra's assignmnet brief should be public so i placed it in git ignore :P 
# it's just a copy paste of the Notion document, used for cross referencing in AI agents reviewers
BRIEF.md